# Root Environment File for Docker Compose

# Backend Services
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_REFRESH_SECRET=your_refresh_secret_key_change_in_production
VNPAY_MERCHANT_ID=your_merchant_id
VNPAY_SECRET_KEY=your_secret_key

# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
